html, body {
	font: 14px/1.21 "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
	background: #FFF;
}

#main {
	position: absolute;
	left: 160px;
	right: 0;
	top: 0;
	height: 100%;
	text-align: center;
}
	#main h1 {
		opacity: 0.8;
		font-weight: 300;
		letter-spacing: 0.05em;
		text-shadow: 0 0 1px rgba(0,0,0,0.8);
	}
	#main h4 {
		display: inline-block;
		padding: 20px;
		margin: 20px auto;
		background: #F4F4F4;
		box-shadow: 0 5px 15px rgba(0,0,0,0.3);
		font-weight: 300;
		color: #333;
		border-radius: 2px;
	}
	#main .page {
		color: #777;
		opacity: 0;
		transform: rotateX(-90deg);
		transition: all 500ms ease 100ms;
		will-change: transform, opacity;
	}
	#main .page.showing {
		opacity: 1;
		transform: rotateX(0deg);
	}

#nav {
	position: fixed;
	left: 0;
	top: 0;
	width: 160px;
	height: 100%;
	background: #EEE;
	z-index: 500;
}

#nav a {
	display: block;
	padding: 5px 20px;
	color: #777;
	text-decoration: none;
	outline: none;
}
	#nav > a {
		margin-top: 10px;
		padding: 10px;
		font-weight: bold;
	}
	#nav a:hover {
		background-color: #DDD;
		color: #222;
	}
	#nav a.current {
		background-color: #FFF;
		color: #222;
	}

#nav ul,
#nav li {
	margin: 0;
	padding: 0;
	list-style: none;
}
