.stage {
  background: #FFF;
}
.stage > div {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  transition-property: all;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
  transform: translateY(0) translateX(0);
}
.stage > div.staged {
  display: block;
}
.stage > div.fade-out {
  opacity: 0;
}
.stage > div.slide-up-out {
  transform: translateY(-100%);
}
.stage > div.slide-down-out {
  transform: translateY(100%);
}
.stage > div.slide-left-out {
  transform: translateX(-100%);
}
.stage > div.slide-right-out {
  transform: translateX(100%);
}
#stage-spinner-overlay {
  positon: absolute;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(150, 150, 150, 0.2);
  z-index: 99999;
}
#spinner {
  display: inline-block;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 2px dashed red;
  position: relative;
  margin: 0 auto;
  -webkit-animation: roll 3s;
  animation: roll 3s;
}
@-webkit-keyframes roll {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes roll {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
