.stage {
	background: #FFF;
	
	> div {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		opacity: 1;
		transition: all 500ms cubic-bezier(1,0.05,0.1,1);
		transform: translateY(0) translateX(0);
		
		&.staged { display: block; }
		
		&.fade-out { opacity: 0; }
		
		&.slide-up-out { transform: translateY(-100%); }

		&.slide-down-out { transform: translateY(100%); }
		
		&.slide-left-out { transform: translateX(-100%); }
		
		&.slide-right-out { transform: translateX(100%); }
	}
}

#overlay {
	positon: absolute;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(150,150,150,0.2);
}

#spinner {
	display: inline-block;
	height: 60px;
	width: 60px;
	border-radius: 50%;
	border: 2px dashed red;
	position: relative;
	margin: 0 auto;
	-webkit-animation: roll 3s;
	animation: roll 3s;
}

@-webkit-keyframes roll {
	from { transform: rotate(0deg); }
	  to { transform: rotate(360deg); }
}

@keyframes roll {
	from { transform: rotate(0deg); }
	  to { transform: rotate(360deg); }
}