.stage > div {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  transition-property: all;
  transform: translateY(0) translateX(0);
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
  transform: translateY(0) translateX(0) rotateY(0) rotateX(0) scale(1, 1);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 500px;
  -moz-perspective: 500px;
  perspective: 500px;
}
.stage > div.staged {
  display: block;
}
.stage > div.fade-out {
  opacity: 0;
}
.stage > div.slide-up-out {
  transform: translateY(100%);
}
.stage > div.slide-down-out {
  transform: translateY(-100%);
}
.stage > div.slide-left-out {
  transform: translateX(-100%);
}
.stage > div.slide-right-out {
  transform: translateX(100%);
}
.stage > div.flip-h-out {
  z-index: 9999999;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.stage > div.flip-v-out {
  z-index: 9999999;
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  transform: rotateX(180deg);
}
.stage > div.stretch-out {
  transform: scale(2, 1);
  opacity: 0;
}
.stage > div.expand-out {
  transform: scale(0, 1);
}
.stage > div.rotate-left-out {
  transform: rotateZ(180deg);
  opacity: 0;
}
.stage > div.rotate-right-out {
  transform: rotateZ(-180deg);
  opacity: 0;
}
.stage > div.skew-right-out {
  transform: skew(90deg, 90deg);
}
.stage > div.skew-left-out {
  transform: skew(-90deg, -90deg);
}
.stage > div.twist-right-out {
  transform: skew(-90deg, 90deg);
}
.stage > div.twist-left-out {
  transform: skew(90deg, -90deg);
}
.stage > div.flatten-left-out {
  transform: skewX(90deg);
}
.stage > div.flatten-right-out {
  transform: skewX(-90deg);
}
#stage-spinner-overlay {
  positon: absolute;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(150, 150, 150, 0.2);
  z-index: 99999;
}
#spinner {
  display: inline-block;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 2px dashed #009dff;
  position: relative;
  margin: 0 auto;
  -webkit-animation: roll 3s linear infinite;
  animation: roll 3s linear infinite;
}
@-webkit-keyframes roll {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes roll {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
