.stage {
  background: #FFF;
}
.stage > div {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  transition: all 500ms cubic-bezier(1, 0.05, 0.1, 1);
  transform: translateY(0) translateX(0);
}
.stage > div.staged {
  display: block;
}
.stage > div.fade-out {
  opacity: 0;
}
.stage > div.slide-up-out {
  transform: translateY(-100%);
}
.stage > div.slide-down-out {
  transform: translateY(100%);
}
.stage > div.slide-left-out {
  transform: translateX(-100%);
}
.stage > div.slide-right-out {
  transform: translateX(100%);
}
